/* Base styles (light theme only) */
:root {
    --background-color: #ffffff;
    --text-color: #212529;
    --muted-text-color: #6c757d;
    --card-background: #f8f9fa;
    --card-border: #dee2e6;
    --icon-color: #000000;
}

/* Apply theme variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-title {
    color: var(--muted-text-color) !important;
}

.card-text{
    color: var(--text-color) !important;
}

.weather-card {
    background-color: var(--card-background);
    border-color: var(--card-border);
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.material-symbols-outlined.weather-icon {
    font-size: 4em;
    margin-bottom: 1rem;
    color: var(--icon-color);
}