.weather-card {
    transition: transform 0.3s;
}
.weather-card:hover {
    transform: translateY(-5px);
}
.material-symbols-outlined.weather-icon {
    font-size: 4em;
    margin-bottom: 1rem;
    color: #000;
}
